@import "react-alice-carousel/lib/alice-carousel.css";

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: auto;
}

.active {
    transform: translateX(0%);
}

.carousel img:not(.active) {
    transform: translateX(100%);
}